@model Shauli_blog.Models.Article

@{
    ViewBag.Title = "Create";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Article</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.author)
            @Html.ValidationMessageFor(model => model.author)
        </div>
        
        <div class="editor-field">
            <label for="content"> Content</label>
            <textarea name="content"></textarea>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
