@model Shauli_blog.Models.Article

@{
    ViewBag.Title = "Details";
}
<header>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/11.css" type="text/css" media="screen" />
</header>
<fieldset>
    <legend>Article</legend>
    
    <div Id="Atitle" style="font:20px tahoma; ">
        @Html.DisplayFor(model => model.title)
    </div>
    <p class="float-left" style="margin-right:10px" >Posted by:</p> <p class="float-left"style="margin-right:40px" >@Model.author</p><p class="float-left" style="margin-right:10px">on</p> <p class="clear-both"> @Model.pubtime </p> 
    
    <article class="blogPost">
        <div id="Center" style="border:0px solid black;" >
    @foreach (var s in ViewBag.paragraphs) { 
        if(s!=null){
            if(s!="\r\n"){
               <text><p>@s</p></text>
    }    }
    
    
    }
            
            </div><br />
        <h3>Related Media</h3>
        @if(Model.title=="My request"){
            <div><img src="~/Content/images/flower.png" /></div>}
        else if(Model.title=="Boyaka"){
            <div><video src="~/Content/videos/shauli.mp4" controls></video></div>}
        else if(Model.title=="Some"){
            <canvas id="canvas1" width="600"  style="border:1px solid black;"></canvas>}

        </article>
    
</fieldset>
<section id="comments" style=" border:0px solid black;margin-left:-20px;width:95%;">
@foreach (var i in ViewBag.comments){
         <article style=" border:0px solid black;width:100%;margin-bottom:20px;">
                        <header style="border-right:1px solid black;">
                            <a href="#">@i.name</a> on @i.pubTime
                        </header>
                        <p style="padding-left:20px;">@i.description</p>
                    </article>
}
    </section>

<form action="/" method="post">    <fieldset>
        <legend>Comment</legend>
        <h2>Enter Your Comment</h2>
    <br />
        
         <input id="name" name="Name" type="hidden" value="lev" />
        <input id="ArticleId" name="ArticleId" type="hidden" value="@Model.id" />
        <div class="editor-label">
            <label for="website">Web-Site</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" data-val="true" data-val-url="The Web-Site field is not a valid fully-qualified http, https, or ftp URL." id="website" name="website" type="url" value="" />
            <span class="field-validation-valid" data-valmsg-for="website" data-valmsg-replace="true"></span>
        </div>

        <div class="editor-label">
            <label for="email">Email</label>
        </div>
        <div class="editor-field">
            <input class="text-box single-line" id="email" name="email" type="email" value="" />
            <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
        </div>

        <div class="editor-label">
            <label for="description">Comment</label>
        </div>
        <div class="editor-field">
            <textarea class="text-box multi-line" data-val="true" data-val-length="The field Comment must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="The Comment field is required." id="description" name="description">
</textarea>
            <span class="field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
            
        
            <input type="submit" value="Submit" />
       
        </div>    </fieldset>
    </form>

<img src="blank" id="image1" style="display:none;" />

     <script type="text/javascript">
         var images =
             ['/Content/images/flower.png', '/Content/images/intro_shauli.png', '/Content/images/intro_flower.png'

             ];
         var index = 0;
         var srcImg = document.getElementById('image1');
         var Canvas = null;
         var ctx = null;
         window.onload = function () {
            
             srcImg.setAttribute('width', 600);
             srcImg.setAttribute('height', 300);
             Canvas = document.getElementById('canvas1');
             if (Canvas && Canvas.getContext('2d')) {
                 ctx = Canvas.getContext('2d');
                 if (ctx) {
                     
                     Switchimg();
                 }

             }
             setInterval(Switchimg, 2500);
         }

         function Switchimg() {
             
            srcImg.setAttribute('src',images[index++]);
             if(index>=images.length)
                 index = 0;
             ctx.drawImage(srcImg, 0,0,600, 200);

         }
     </script>

    
    