@model IEnumerable< Shauli_blog.Models.UserProfile>

@{
    ViewBag.Title = "ShowUsers";
}

<div id="PageRes">
    @Html.Partial("PartialList")


</div>
<br />
@Ajax.ActionLink("ShowAdmins", "PartialList", new {Role="Admin" }, new AjaxOptions
{
    UpdateTargetId = "PageRes"
})

@Ajax.ActionLink("Show Contractors","PartialList",new {Role="Contractor" },new AjaxOptions{
UpdateTargetId="PageRes"})

@Ajax.ActionLink("Show Regular Users","PartialList",new {Role="User" },new AjaxOptions{
UpdateTargetId="PageRes"})
@Ajax.ActionLink("Show All Users","PartialList",new {Role="All" },new AjaxOptions{
UpdateTargetId="PageRes"})



@section scripts{
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    
    }
