@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This Web Application made by - Lev Veliki, Oleg Glizerin and Eliel Dabush.
    </p>

    <p>
        Application Development Lab Course By Roi Yehoshua.
    </p>

    <p>
        Hope you enjoy here :) 
    </p>
</article>

<aside>
    <h3> @Html.ActionLink("Shauli's Blog", "Index", "My")</h3>
    <p>
       Visit also:
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Fans", "Index", "Fans")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

