<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header style="border:2px solid black; background:black; padding-bottom:100px;">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Shauli's blog", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav >
                        <ul id="menu">
                            @if (User.IsInRole("Admin")) {
                                <li>@Html.ActionLink("Admin Page", "Index", "My")</li>
                            }
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Content", "PartialDetail", "Articles")</li>
                            <li>@Html.ActionLink("Fans","Index","Fans")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li id ="RSSIMG" style="margin-right:0px;padding-right:0px;"><img src="~/Content/images/RSS.png"/></li>
                            <li style="padding-left:0px;margin-left:0px">@Html.ActionLink("Register with RSS", "Register", "Account")</li>
                            
          
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            @RenderSection("featured3", required: false)
            @RenderSection("featured2", required: false)
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left" style="width:100%; border:0px solid black;">
                    <section style="float:left;width:30%;border:0px solid black;">
                    <p style="font-size:20px;font-style:italic;">@Html.ActionLink("About","About","Home")<br/><p>Application</p><p>Development</p><p>Lab</p><p>Course</p></section>
                    <section style="float:left;width:30%;">
                    <p style="font-size:20px;font-style:italic;">@Html.ActionLink("Contact","Contact","Home")<br/><p>@Html.ActionLink("Directions","Map","Home")</p><p>Keep</p><p>On</p><p>Touch</p></section>
                    <section style="float:left;width:30%;"><p style="font-size:20px;font-style:italic;">Made By</p><p style="font-size:15px;">Lev</p><p style="font-size:15px;">Oleg</p><p style="font-size:15px;">Eliel</p></section>
                </div>
            </div>
        </footer>
        <!--<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>-->
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
